body {
    font-family: sans-serif;
}
header h1  {
    background-color: #FF9B1E;
    text-align: center;
    


}

main h1 {
    text-align: center;


}
h3 {
    margin-top: 120px;
    font-size: 25px;
    margin-left: 25px;


}
footer {
    background-color: #9eeaff;
    font-size: 30px;


}
h2 {
    display: inline-block;
    margin-left: 110px;


}
main img {
    margin-left: 30px;

}



    
